.text-center
    text-align center

a
    text-decoration none


.nav-list
    list-style none
    font-size 1.2em
    font-family "Open Sans", serif

.nav-list li
    display inline-block
    margin-right 16px 

footer
    clear both
